
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body * { 
      font-family: 'Syne', sans-serif;
}

 
/* .................HEADER................. */

.header-inner {
   height: 80px;
}

.custom-logo-link {
   margin-left: 37px;
} 

.primary-menu .menu-admin {
  position: absolute;
} 
  
.modal-menu a:hover {
  text-decoration: none;
  color: black;
}

.header-navigation-wrapper .menu-item a {
  padding-top: 30px;
  color:black !important;
  text-decoration: none !important;
  margin-left: 130px;
}

.primary-menu .menu-admin a {
  margin-left: -300px;
}

.header-navigation-wrapper .menu-item a:hover {
  font-size: 16px;
  font-weight: 400;
}

.header-navigation-wrapper #menu-item-57 a {
  background-color : #DC9F96; 
  color: #ffffff !important;
  height: 80px;
  width: 236px;
  font-weight: 700;
  font-size: 16px;
  padding: 30px 61px;
  text-decoration: none;
  margin-right: -40px;
}

.header-navigation-wrapper #menu-item-57 a:hover {
  background-color:rgb(189, 12, 12) ;
}

 /*.................PAGE PRINCIPAL................ */

.branche1 {
  margin-right: -187px;
  margin-top: 137px
}
.branche2 {
  margin-left:-187px ;
  margin-top:137px ;
}
@media (max-width: 596px) {
  .branche1 {
    display: none;
  }
  .branche2 {
    display: none;
  }
}

.saveur {
  position: relative;
} 


    

 /*  ................PAGE NOUS RECONTRER.................  */

.elementor-element-73936f4  .has-spinner {
  border-radius: 5px;
  background: #E0B9B4;
  text-decoration: none !important;
  margin-left: 147px;
}

.elementor-element-73936f4 .has-spinner:hover {
  background-color:rgb(189, 12, 12) ;
}

.elementor-43 .elementor-element.elementor-element-4d26140 .elementor-divider {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 25px;
  width: 1250px;
}

/* .................PAGE COMMANDER................. */

.page-id-43{ 
  background-color: #3B8E46 !important;
} 

.elementor-element-4a1fc20 .wpcf7-validates-as-number{
  border-radius: 5px;
  width: 71px;
  height: 56px;
  margin-top: -95px;
  margin-left: 70px;
}

.sans-colonnes {
  display: none;
}

.deux-colonnes p {
  display: flex ;
  gap: 87px;
}

.deux-colonnes label {
  color: #FFF;
  font-family: Syne;
  font-size: 20px;
  font-weight: 400;
}

.deux-colonnes .wpcf7-text{ 
  width: 383px;
  height: 71px;
  border-radius: 7px;
  margin-top: 7px;
} 

#wpcf7-f222-p43-o5 .has-spinner{
  text-decoration: none;
  width: 198px;
  height: 55px;
  border-radius: 5px;
  background-color: #E0B9B4;
  font-size: 15px;
  font-weight: 400;
  margin-left: 370px;
  margin-top: 25px;
}

#wpcf7-f222-p43-o5 .has-spinner:hover{
  background-color:rgb(189, 12, 12) ;
}

.header-controls {
  display: none !important;
}

.translated-text {
  display: none;
}

.elementor-element-1e11b17 {
  display: none;
}




