
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body * { 
      font-family: 'Syne', sans-serif;
}

 
/* .................HEADER................. */

.header-inner {
   height: 80px;
   width: 1440px;
}

.custom-logo-link{
   margin-left: 37px;
} 

.primary-menu .menu-admin{
  position: absolute;
} 
  
.header-navigation-wrapper .menu-item a {
  padding-right: 200px !important;
  margin-left:-130px;
}

.modal-menu a:hover {
  text-decoration: none;
  color: black;
}

.header-navigation-wrapper .menu-item a{
  padding-top: 30px;
  color:black !important;
  text-decoration: none !important;
  padding-right: 35px;
}

.header-navigation-wrapper .menu-item a:hover {
  font-size: 16px;
  font-weight: 400;
}

.header-navigation-wrapper #menu-item-57 a{
  background-color : #DC9F96; 
  color: #ffffff !important;
  height: 80px;
  width: 236px;
  font-weight: 700;
  font-size: 16px;
  padding: 30px 61px;
  text-decoration: none;
  margin-right: -80px;
}

.header-navigation-wrapper #menu-item-57 a:hover {
  background-color:rgb(189, 12, 12) ;
}

 /*.................PAGE PRINCIPAL................ */

.branche1 {
  margin-right: -187px;
  margin-top: 137px
}

.branche2 {
  margin-left:-190px ;
  margin-top:137px ;
}

.decor {
  margin-top: -209px;
  margin-left: 307px;
}


/*  ................PAGE NOUS CONTACTER.................  */

.elementor-element-73936f4  .has-spinner  {
  border-radius: 5px;
  background: #E0B9B4;
  text-decoration: none !important;
  margin-left: 127px;
}

.elementor-element-73936f4 .has-spinner:hover {
  background-color:rgb(189, 12, 12) ;
}


/* .................PAGE COMMANDER................. */

.page-id-43{ 
  background-color: #3B8E46 !important;
} 

.elementor-element-4a1fc20 .wpcf7-validates-as-number{
  border-radius: 5px;
  width: 71px;
  height: 56px;
  margin-top: -95px;
  margin-left: 70px;
}

.sans-colonnes {
  display: none;
}

.deux-colonnes p {
  display: flex ;
  gap: 87px;
 }

.deux-colonnes label {
  color: #FFF;
  font-family: Syne;
  font-size: 20px;
  font-weight: 400;
}

.deux-colonnes .wpcf7-text{ 
  width: 383px;
  height: 71px;
  border-radius: 7px;
  margin-top: 7px;
} 

#wpcf7-f222-p43-o5 .has-spinner{
  text-decoration: none;
  width: 198px;
  height: 55px;
  border-radius: 5px;
  background-color: #E0B9B4;
  font-size: 15px;
  font-weight: 400;
  margin-left: 370px;
  margin-top: 25px;
}

#wpcf7-f222-p43-o5 .has-spinner:hover{
  background-color:rgb(189, 12, 12) ;
}


/* .................MEDIA QUERIES.................  */

@media screen and (max-width: 768px) {
  
  .ancestor-wrapper a{  /*Menu*/
    padding-top: 30px;
    color:black !important;
    text-decoration: none !important;
  }
  
  .menu-item-57 .ancestor-wrapper a{ /*Menu commander*/
    background-color : #DC9F96; 
    color: white !important;
    font-size: 12px;
    width: 220px;  
    text-decoration: none;
  }
  
  .menu-wrapper .menu-admin a{
    text-decoration: none;
    color: black;
  }
  
 /* .................PAGE COMMANDER................. */
 
  .deux-colonnes p {
    display: flex ;
    gap: 57px;
  }

  .deux-colonnes .wpcf7-text{ 
    width: 283px;
    height: 51px;
    border-radius: 7px;
    margin-top: 7px;
  } 

  #wpcf7-f222-p43-o5 .has-spinner{
    margin-left: 221px;
  }
  
}

@media screen and (max-width: 360px) {
  
  .sans-colonnes{
    display: inline;
  }

  .deux-colonnes p{
    display: none;
  }

  .sans-colonnes .wpcf7-text{ 
    width: 283px;
    height: 51px;
    border-radius: 7px;
    margin-top: 7px;
  } 

  .sans-colonnes label {
    color: #FFF;
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
  }

  #wpcf7-f222-p43-o5 .has-spinner {
    margin-left: 70px;
    margin-bottom: -100px;
    width: 138px;
    height: 45px;
    padding-top: 13px;
  }
}



